# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Docker
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite

# Docker Volumes (данные базы данных)
postgres_data/
postgres_redash_data/